<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring CMS</title>
</head>
<body>
<h1 th:text="${helloMessage}"></h1>
<form th:action="@{/search}" method="post">
    <p><input type="text" th:field="${searchModel.value}" /></p>
    <p><input type="submit" value="Add" /></p>
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>ReactJS + Spring Data REST</title>-->
    <!--<link rel="stylesheet" href="/main.css" />-->
<!--</head>-->
<!--<body>-->

<!--<div id="react"></div>-->

<!--<script src="built/bundle.js"></script>-->

<!--</body>-->
<!--</html>-->