<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>All results</title>
</head>
<body>
<div >
    <h1>Wszystkie wyniki</h1>
    <table border="1">
        <tr>
            <th>Nazwa sklepu</th>
            <th>Cena</th>
            <th>Nazwa towaru</th>
        </tr>
        <tr th:each="result:${resultList}" th:object="${result}">
            <td th:text="*{webShop}">Zalando</td>
            <td th:text="*{price}">99.00</td>
            <td th:text="*{name}">Nike</td>
        </tr>
    </table>
</div>
</body>
</html>